@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 100%;
}

header .nav-blue {
  background-color: #2196f3;
}

header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 11;
}

header nav .logo {
  margin-left: 50px;
}

header nav .logo a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 60%;
}

header nav .navbar li {
  list-style: none;
}

header nav .navbar a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

header nav .show {
  height: 90vh !important;
}

header nav .show li {
  display: inline-block !important;
}

header nav .navbar-mobile {
  position: absolute;
  top: 0;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 0px;
  background-color: rgba(33, 150, 243, 0.8);
  justify-content: space-around;
}

header nav .navbar-mobile li {
  list-style: none;
  display: none;
}

header nav .navbar-mobile a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

header nav .menu-toogle {
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  margin-right: 50px;
}

header nav .menu-toogle span {
  display: block;
  height: 3px;
  background-color: white;
  color: white;
  width: 28px;
  border-radius: 3px;
}

.container {
  width: 100%;
}

.container .content {
  width: 100%;
}

.container .content .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .content .img-container .title {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.container .content .img-container .title h2 {
  line-height: 1,2em;
  color: #fff;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}

.container .content .img-container .title p {
  font-size: 1.1em;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.container .content .img-container .title a {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: #4660e2;
  border-color: #4660e2;
  text-decoration: none;
  color: #fff;
  border-radius: 1.7em;
  font-size: 1.1em;
  font-weight: 500;
}

.container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .about .about-text {
  width: 50%;
  background: white;
  padding: 120px 100px;
}

.container .about .about-text h2 {
  font-size: 2.2em;
  font-weight: 700;
  color: #001689;
}

.container .about .about-text p {
  line-height: 1.7em;
  margin-top: 30px;
  font-weight: 500;
  color: #8c8d91;
}

.container .about .about-text a {
  text-decoration: none;
  padding: 20px 60px;
  background-color: #556ce0;
  border-color: #556ce0;
  border-radius: 1.7em;
  margin-top: 35px;
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 1em;
  -webkit-box-shadow: 0 8px 15px #9ea7d6;
          box-shadow: 0 8px 15px #9ea7d6;
}

.container .about .about-text a:hover {
  background-color: #7e92f7;
}

.container .about .about-img {
  width: 50%;
  text-align: center;
  padding-top: 120px;
  padding-left: 50px;
}

.container .about .about-img .card-img {
  width: 530px;
  height: 330px;
}

.container .about .about-img .card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 6em;
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 6em;
  border-bottom-left-radius: 1.2em;
}

.container .hotel-wrapper .hotels {
  width: 100%;
  padding: 20px 100px;
}

.container .hotel-wrapper .hotels .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.container .hotel-wrapper .hotels .header-title h3 {
  font-weight: 500;
  color: #001689;
}

.container .hotel-wrapper .hotels .header-title .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .hotel-wrapper .hotels .header-title .title h3 {
  font-size: 1.5em;
}

.container .hotel-wrapper .hotels .header-title .see-more {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .hotel-wrapper .hotels .header-title .see-more a {
  text-decoration: none;
  float: right;
  font-size: 0.9em;
  color: #001689;
}

.container .hotel-wrapper .hotels .header-title .see-more i {
  margin-top: 3px;
  margin-left: 10px;
  float: right;
  color: #001689;
  cursor: pointer;
}

.container .hotel-wrapper .hotels .list-hotel {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .hotel-wrapper .hotels .list-hotel .card {
  margin-top: 10px;
  width: 32%;
  border-radius: 1em;
  position: relative;
}

.container .hotel-wrapper .hotels .list-hotel .card .card-header {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  background-color: #2196f3;
}

.container .hotel-wrapper .hotels .list-hotel .card .card-header img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.container .hotel-wrapper .hotels .list-hotel .card .card-header:hover .img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container .hotel-wrapper .hotels .list-hotel .card .card-header button {
  position: absolute;
  top: 15px;
  left: 67%;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  border: 0;
  background-color: #ff7424;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
}

.container .hotel-wrapper .hotels .list-hotel .card .card-body h3 {
  margin-top: -5px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #001689;
}

.container .hotel-wrapper .hotels .list-hotel .card .card-body p {
  color: #8c8d91;
}

.container .hotel-wrapper .hotels .list-hotel .card .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .hotel-wrapper .hotels .list-hotel .card .review p {
  margin: 18px 10px;
}

.container .hotel-wrapper .hotels .list-hotel .card .review i {
  margin: 20px 5px;
  color: #fefe00;
}

.container .testimonial {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 100px;
}

.container .testimonial .testimonial-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

.container .testimonial .testimonial-img .card-testimonial {
  width: 380px;
  height: 500px;
}

.container .testimonial .testimonial-img .card-testimonial img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 25%;
}

.container .testimonial .testimonial-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 50px;
  padding: 30px 30px;
}

.container .testimonial .testimonial-text .content {
  padding-right: 80px;
}

.container .testimonial .testimonial-text .content h3 {
  font-size: 1.5rem;
  color: #001689;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.container .testimonial .testimonial-text .content h2 {
  font-size: 3em;
  margin-top: 10px;
  color: #27272c;
}

.container .testimonial .testimonial-text .content p {
  margin-top: 20px;
  color: #8c8d91;
}

.container .testimonial .testimonial-text .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.container .testimonial .testimonial-text .profile .img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container .testimonial .testimonial-text .profile .img-profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .testimonial .testimonial-text .profile .title {
  margin-left: 10px;
}

.container .testimonial .testimonial-text .profile .title p:nth-child(1) {
  color: #27272c;
  font-size: 1em;
  font-weight: 600;
}

.container .testimonial .testimonial-text .profile .title p:nth-child(2) {
  color: #8c8d91;
}

.container .testimonial .testimonial-text .pagination {
  margin-top: 20px;
}

.container .testimonial .testimonial-text .pagination button {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #ff7424;
}

.container .testimonial .testimonial-text .pagination button i {
  color: #fff;
}

.container .travel-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 100px;
}

.container .travel-stories .title {
  text-align: center;
  margin: auto;
}

.container .travel-stories .title h2 {
  font-size: 2.2em;
  font-weight: 700;
  color: #001689;
}

.container .travel-stories .title p {
  line-height: 1.7em;
  font-weight: 500;
  color: #8c8d91;
}

.container .travel-stories .stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container .travel-stories .stories article {
  cursor: pointer;
  width: 32%;
  height: 250px;
  margin-top: 30px;
}

.container .travel-stories .stories article .img-stories {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .travel-stories .stories article .img-stories img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .travel-stories .stories article .img-stories .content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.container .travel-stories .stories article .img-stories .content h4 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

footer {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: royalblue;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header nav .navbar {
    display: none;
  }
  header nav .menu-toogle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .content .img-container .title h2 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
  }
  .container .content .img-container .title p {
    font-size: 1em;
  }
  .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .about .about-text {
    width: 100%;
    padding: 45px 30px;
  }
  .container .about .about-text h2 {
    font-size: 1.7em;
    text-align: center;
  }
  .container .about .about-text p {
    font-size: 0.9em;
    text-align: center;
  }
  .container .about .about-text a {
    padding: 10px 40px;
  }
  .container .about .about-text .more {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .about .about-img {
    padding: 45px 30px;
    width: 100%;
  }
  .container .about .about-img .card-img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */